[Unit]
Description=discord bot written by voidtools

[Service]
User=void
SyslogIdentifier=scratchBot
ExecStart=/home/void/scratch-bot-discord/build/App ~/token.tkn

[Install]
Alias=scratchBot
WantedBy=default.target
