[Unit]
Description=discord bot written by voidtools

[Service]
ExecStart=/home/void/scratch-bot-discord/build/App ~/token.tkn
SyslogIdentifier=ScratchBot

User=void
