[Unit]
Description=discord bot written by voidtools

[Service]
execStart=~/Scratch-Bot-Discord/Scratch-Bot-App ~/token.tkn
SyslogIdentifier=ScratchBot

User=void
